@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3aqez9');
    src: url('../fonts/icomoon.eot?3aqez9#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3aqez9') format('truetype'), url('../fonts/icomoon.woff?3aqez9') format('woff'), url('../fonts/icomoon.svg?3aqez9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}

.icon-home3:before {
    content: "\e902";
}

.icon-pencil:before {
    content: "\e905";
}

.icon-library:before {
    content: "\e921";
}

.icon-profile:before {
    content: "\e923";
}

.icon-folder-plus:before {
    content: "\e931";
}

.icon-coin-euro:before {
    content: "\e93c";
}

.icon-credit-card:before {
    content: "\e93f";
}

.icon-phone:before {
    content: "\e942";
}

.icon-address-book:before {
    content: "\ce";
}

.icon-users:before {
    content: "\e972";
}

.icon-unlocked:before {
    content: "\e990";
}

.icon-equalizer2:before {
    content: "\e993";
}

.icon-stats-dots:before {
    content: "\edad";
}

.icon-stats-bars:before {
    content: "\e99c";
}

.icon-hammer2:before {
    content: "\e9a8";
}

.icon-shield:before {
    content: "\e9b4";
}

.icon-paragraph-justify:before {
    content: "\ea7a";
}

.icon-mail2:before {
    content: "\ea84";
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
}

.menu {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.menu li a:hover {
    background-color: #E5E5E5;
    color: #a8a8a8;
    border-left: 0;
    font-size: 17px;
    font-weight: 600;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 7px;
    padding-bottom: 7px;
}

.menu li {
    list-style: none;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.human-capitalnc {
    background-image: url(../images/city2.jpg);
    background-size: cover;
    height: 626px;
}

/* burger-bottom */

.burger-botom {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    background: #395667;
    display: inline-block;
    text-align: center;
    position: fixed;
    left: 20px;
    z-index: 3;
    top: 20px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media screen and (max-width: 700px) {
    .menu ul {}
}

@media screen and (max-width: 640px) {
    .burger-botom {
        display: block;
    }
    .menu {
        margin: 0;
        background-color: rgb(0, 172, 193);
        position: fixed;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        left: -100%;
        -webkit-transition: .3s;
        /* -moz-transition: .3s; */
        /* -ms-transition: .3s; */
        /* -o-transition: .3s; */
        /* transition: .3s; */
    }
    .menu.active {
        left: 0;
    }
    .menu ul {
        flex: 1;
        text-align: center;
        flex-direction: column;
        padding: 0;
    }
    .menu ul li {
        display: block;
        border-bottom: 1px solid #fff;
        padding: 28px;
    }
    .menu ul li:first-child {
        border-top: 1px solid #fff;
    }
    .menu li a {
        color: #fff;
    }
}

h1 {
    margin: 0;
    font-size: 65px;
    position: relative;
    top: 230px;
    margin-left: 130px;
    color: #fff;
}

.human-capitalnc h2 {
    font-size: 49px;
    position: relative;
    top: 215px;
    margin-left: 130px;
    color: #FFEB3B;
}

.human-ases {
    max-width: 952px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.human-ases h2 {
    font-size: 40px;
    margin-top: 55px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 66px;
}

.human-ases span {
    font-size: 50px;
    color: #fdd835;
}

.aces-human {
    display: flex;
    justify-content: center;
}

.aces-human div h3 {
    font-size: 20px;
    max-width: 200px;
    ;
}

.aces-human div p {
    font-size: 18px;
    width: 203px;
}

.aces-human {
    margin-right: 20px;
}

.aces-p-humsn {
    margin-bottom: 70px;
}

.aces-human div {
    margin-right: 80px;
    text-align: center;
}

.human-talent span {
    color: #fdd835;
    font-size: 35px;
}

.human-talent h2 {
    text-align: center;
    margin-top: 145px;
    font-size: 45px;
}

.human-talent h3 {
    text-align: center;
    font-size: 35px;
}

.talhuman-capital {
    height: 160px;
    background-image: url(../images/ofice7.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.talhuman-capital h2 {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    padding: 51px;
}

.human-icomoon {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #E6E6E6;
}

.human-icomoon div {
    margin-right: 32px;
    margin-top: 60px;
}

.serv-humancap {
    max-width: 900px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.serv-humancap p {
    font-size: 18px;
    margin-bottom: 62px;
}

.human-icomoon2q {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #E6E6E6;
}

.human-icomoon2q div {
    margin-right: 62px;
    margin-top: 60px;
}

.nosot-human {
    max-width: 900px;
    margin: auto;
}

.nosot-human h2 {
    font-size: 47px;
    color: #212121;
}

.nosot-human p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.parr-nosot {
    border-left: 5px solid #ee6e73;
    padding: 8px 0px 2px 26px;
}

.parr2-human {
    margin-top: 0px;
    margin-bottom: 50px;
}

.human-vici {
    display: flex;
    justify-content: center;
}

.human-vici h3 {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.human-vici div {
    margin-top: 36px;
}

.misi-huma {
    background-color: #00acc1;
    border-radius: 4px;
    margin-left: 56px;
}

.misi-huma p {
    color: #fff;
    padding: 39px;
}

.visi-huma {
    background-color: #29b6f6;
    margin: auto;
    margin-left: 85px;
}

.visi-huma p {
    color: #fff;
    padding: 24px;
}

.footer-hum {
    background-image: url(../images/ofice4.jpg);
    background-size: cover;
    height: auto;
}

.footer-hum h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 62px;
    margin-top: 90px;
}

.inmp-fot {
    width: 100%;
}

.inmp-fot input {
    width: 100%;
}

.cont-inp {
    display: flex;
    justify-content: center;
    margin: 130px 170px 50px 170px;
}

.cont-inp input {
    width: 100%;
    background: transparent;
    padding: 5px;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    color: #9e9e9e;
    outline: none;
}

.form-hum2 span {
    color: #FFEB3B;
    font-size: 28px;
}

.text-form {
    display: flex;
    flex-direction: column;
    margin: 30px 170px 50px 170px;
}

.text-form input {
    background: transparent;
    padding: 5px;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 51px;
    color: #9e9e9e;
    outline: none;
}

.bottom-form {
    text-align: center;
}

.bottom-form button {
    padding: 12px;
    border: none;
    background: #26a69a;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.bottom:hover {
    /*background: #fff;
    color: #26a69a;
    border: 1px solid #00acc1;*/
    background: rgba(255, 255, 255);
    color: #26a69a;
    box-shadow: inset 0 0 0 3px #26a69a;
    border-radius: 5px;
}

.telinf-human a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.info-humancap {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 28px;
}

.info-humancap a {
    margin-right: 21px;
}

.logo-human {
    margin-bottom: 41px;
}

.core-human {
    text-align: center;
}

.core-human a {
    border-bottom: 1px solid #fff;
    padding: 18px;
}

.direc-human {
    text-align: center;
    margin-top: 51px;
    color: #fff;
    margin-bottom: 55px;
}

.derec {
    text-align: center;
    color: #fff;
    margin: 0px;
    background: #212121;
    border-top: 1px solid #a8a8a8;
}

.derec p {
    margin: 0;
    padding: 14px;
}

@media screen and (max-width: 1058px) {
    h1 {
        font-size: 51px;
    }
    .human-capitalnc h2 {
        font-size: 43px;
    }
}

@media screen and (max-width: 980px) {
    .human-ases h2 {
        margin-left: 18px;
    }
    .aces-p-humsn {
        margin: 10px 20px 70px 20px;
    }
    .aces-human {
        margin: 20px;
    }
    .aces-human div h3 {
        font-size: 19px;
    }
    .aces-human div p {
        font-size: 17px;
    }
    .human-talent h2 {
        font-size: 39px;
    }
    .serv-humancap p {
        font-size: 17px;
        margin: 5px 20px 80px 20px;
    }
    .human-icomoon {
        margin: 0px 10px;
    }
    .human-icomoon2q {
        margin: 0px 10px;
    }
    .nosot-human h2 {
        font-size: 44px;
        margin-left: 18px;
    }
    .parr-nosot {
        margin-left: 10px;
    }
    .footer-hum h2 {
        font-size: 38px;
    }
    .human-vici div {
        margin-right: 30px;
    }
}

@media screen and (max-width: 882px) {
    .aces-human div {
        margin-right: 45px;
    }
    h1 {
        font-size: 40px;
    }
    .human-capitalnc h2 {
        font-size: 37px;
    }
}

@media screen and (max-width: 800px) {
    .aces-human {
        flex-direction: column;
    }
    .aces-human div {
        text-align: initial;
        margin: 0;
        text-align: center;
    }
    .aces-human div h3 {
        max-width: initial;
    }
    .aces-human div p {
        width: auto;
        margin: 15px 30px 60px 30px;
    }
    .human-talent h2 {
        font-size: 35px;
    }
    .human-talent h3 {
        font-size: 33px;
    }
    .human-icomoon {
        flex-direction: column;
        border: none;
    }
    .human-icomoon div {
        margin-top: 18px;
        margin-right: 32px;
    }
    .human-icomoon2q {
        flex-direction: column;
        border: none;
    }
    .human-icomoon2q div {
        margin-top: 18px;
        margin-right: 32px;
    }
    .cont-inp {
        flex-direction: column;
    }
    .form-hum2 span {
        margin-top: 41px;
    }
}

@media screen and (max-width: 560px) {
    .human-capitalnc {
        height: auto;
        padding: 196px 5%;
    }
    .human-capitalnc h1 {
        position: initial;
        margin: 0;
    }
    .human-capitalnc h2 {
        position: initial;
        margin: 0;
    }
    .human-vici{
        flex-direction: column;
        padding: 50px 5% 0 5%;
    }
    .human-vici div{
        margin: 0;
        margin-bottom: 50px; 
    }
    .form-hum2 div{
        margin: 0;
    }
    .form-hum2{
        padding: 50px 5%;
    }
    .footer-hum h2{
        margin: initial;
    }
}

@media screen and (max-width: 430px){
    h1{
        font-size: 30px;
    }
    .human-capitalnc h2{
        font-size: 27px;
    }
}
@media screen and (max-width: 369px){
    .logo-human{
        width: initial;
        margin: 0;
    }
    .logo-human img{
        width: 100%;
    }
    .telinf-human{
        padding: 20px 5%;
    }
    .info-humancap{
        margin-top: 0;
    }
}